@model LearnEnglish.Models.User.DeniedViewModel
<h2>Доступа нет</h2>
<div>
    Уважаемый @Model.UserName у вас не достаточно прав для просмотра запрашиваемой страницы.
    Время запроса: @Model.RequestTime.ToShortTimeString()
</div>