@section Head{
    <script src="~/js/audio.js"></script>
    <link rel="stylesheet" href="~/css/audio.css">
}

<div class="gallery-audio">
    <div class="audio">
        <div class="text-audio">
            The Beatles — Come Together
        </div>
        <div class="image__wrapper">
            <img src="~/image/audio/1.jpg" class="minimized"/>
        </div>
        <div>
            <audio controls>
                <source src="~/audio/1.mp3" type="audio/mp3">
            </audio>
        </div>
    </div>

    <div class="audio">
        <div class="text-audio">
            John Lennon — Imagine
        </div>
        <div class="image__wrapper">
            <img src="~/image/audio/2.jpg" class="minimized"/>
        </div>
        <div>
            <audio controls>
                <source src="~/audio/2.mp3" type="audio/mp3">
            </audio>
        </div>
    </div>

    <div class="audio">
        <div class="text-audio">
            Nirvana — The man who sold the world
        </div>
        <div class="image__wrapper">
            <img src="~/image/audio/3.jpg" class="minimized"/>
        </div>
        <div>
            <audio controls>
                <source src="~/audio/3.mp3" type="audio/mp3">
            </audio>
        </div>
    </div>
</div>