@section Head{
    <link rel="stylesheet" href="~/css/video.css">
}

<div class="gallery-video">
    <div class="video">
        <div class="text-video">
            Present Simple
        </div>
        <div class="frame-video">
            <iframe src="https://www.youtube.com/embed/6Qd1xAikoQc" title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="video">
        <div class="text-video">
            Present Continuous
        </div>
        <div class="frame-video">
            <iframe src="https://www.youtube.com/embed/pz8zEqhGleY" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="video">
        <div class="text-video">
            Present Perfect
        </div>
        <div class="frame-video">
            <iframe src="https://www.youtube.com/embed/DInKEo2hiVM" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="video">
        <div class="text-video">
            Present Perfect Continuous
        </div>
        <div class="frame-video">
            <iframe src="https://www.youtube.com/embed/TU78I3CRVlY" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

