@using LearnEnglish.Localize

@model LearnEnglish.Models.Book.BookViewModel

<form action="/Book/Add" method="post" id="someForm" enctype="multipart/form-data">
    <div>
        @Book.Name <input name="name" />
    </div>
    <div>
        @Book.Book_Image<input type="file" name="BookFile" />
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
</form>