@model LearnEnglish.Models.Book.BookViewModel

<form action="/Book/Add" method="post" id="someForm" enctype="multipart/form-data">
    <div>
        Name: <input name="name" />
    </div>    
    <div>
        BookImage: <input type="file" name="BookFile" />
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
</form>