.books {
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
}

.button {
    flex: 1;
    text-align: center;
    border: 1px red solid;
    margin: 5px;
}

.image-wrapper {
    text-align: center;
    vertical-align: middle;
}

.book-name {
    text-align: center;
    font-size: 15px;
}

.book-cover {
    width: 180px;
    flex: 1;
    border: 2px solid green;
    margin: 10px;
}

.image-wrapper-size{
    max-height: 200px;
    max-width: 200px;
}