.video {
    width: 500px;
    height: 200px;
    flex: 1;
    border: 2px solid green;
}

.text-video {
    text-align: center;
    vertical-align: middle;
    font-family: Tahoma, sans-serif;
}

.frame-video {
    text-align: center;
    vertical-align: middle;
}