@model LearnEnglish.Models.UserProfile.UserProfileViewModel

<table border="1" align="center" cellspacing="0" cellpadding="10">
    <caption>Профиль пользователя</caption>
    <tr>
        <th>FirstName</th>
        <th>@Model.FirstName</th>
    </tr>
    <tr>
        <th>LastName</th>
        <th>@Model.LastName</th>
    </tr>
    <tr>
        <th>Avatar</th>
        <th><img src="@Model.AvatarUrl"/></th>
    </tr>    
</table>
<a href="/UserProfile/Profile">изменить данные</a>