@using LearnEnglish.Models.UserProfile

@model UserProfileViewModel

<form action="/UserProfile/Profile" method="post" enctype="multipart/form-data">
        <div>
            FirstName @Html.TextBoxFor(x => x.FirstName)
        </div>

        <div>
            LastName @Html.TextBoxFor(x => x.LastName)
        </div>

        <div>
            Age @Html.TextBoxFor(x => x.Age)
        </div>

        <div>
            Avatar: <input type="file" name="AvatarFile" />
        </div>   

        <div>
            <input type="submit" value="заполнить" />
        </div>
</form>