@model LearnEnglish.Models.UserProfile.UserProfileViewModel

<form action="/UserProfile/Profile" method="post" enctype="multipart/form-data">
    <div>
        FirstName @Html.TextBoxFor(x => x.FirstName)
    </div>

    <div>
        LastName @Html.TextBoxFor(x => x.LastName)
    </div>

    <div>
        Avatar: <input type="file" name="AvatarFile" />
    </div>

    <input class="button" type="button" value="Добавить карту"
           onclick="location.href='/BankCard/BankCardAdd'" />

    <div>
        <input type="submit" value="заполнить" />
    </div>
</form>