@model LearnEnglish.Models.Test.NumberCorrectAnswersViewModel

<h2>Results</h2>
<div>
    Dear @Model.UserName you made @Model.NumberCorrectAnswers correct answers in 10 questions.
</div>

<div>
    <a href="/Test/Select">Repeat test</a>
</div>